<!DOCTYPE html>
<html>
<head>
    <title>제작중...</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script type="text/javascript"></script>
</head>
<body>
    <div class="container mx-auto lg:px-20 xl:px-40">
        <div class="container mx-auto mt-5">
            <a class="font-mono text-center text-xl font-light text-gray-400" href="/dghsMathInfo">홈으로</a>
            <div class="relative px-4 py-10 bg-white shadow-2xl sm:rounded-3xl sm:-rotate-6">
                <p class="font-mono text-center text-3xl font-black text-blue-400">아직 완성되지 않았습니다. 조금만 기다려 주세요!</p>
            </div>
        </div>
        <div class="container mx-auto mt-5">
            <img src="{{url_for('static', filename='constructing.jpg')}}">
        </div>
    </div>
</body>
<footer>
    <div class="container mx-auto mt-20 font-mono text-base font-light text-gray-400 px-20 lg:px-20 xl:px-40">
        <p>Credits</p>
        Photo by <a href="https://unsplash.com/@alschim?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Schimmeck</a> on <a href="/s/photos/constructing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
</footer>
</html>