<!DOCTYPE html>
<html>
<head>
    <title>수정반 가입방법</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script type="text/javascript"></script>
</head>
<body>
    <div class="container mx-auto lg:px-20 xl:px-40">
        <div class="container mx-auto mt-20">
            <div class="grid grid-cols-3">
                <div class="col-span-2">
                    <a href="/dghsMathInfo">
                        <p class="font-mono text-7xl font-black text-blue-500">수리정보</p>
                        <p class="font-mono text-7xl font-light text-blue-500">영재반</p>
                    </a>
                </div>
                <div id="navigator" class="">
                    <p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/dghsMathInfo"">홈</a></p>
                    <p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/team"">부원</a></p>
                    <!--<p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/history"">역사</a></p>-->
                    <p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/recollection"">과거 활동</a></p>
                    <p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/promotion">홍보</a></p>
                </div>
            </div>
        </div>

        <div class="container mx-auto mt-20">
            <p class="font-mono text-5xl font-black text-blue-500">1학년</p>
            <p class="font-mono text-2xl font-medium text-blue-400 mt-10">컴퓨터실 옆에 있는 수리정보부 교무실에서 신청서를 받아 작성한뒤, 2021/03/16일까지 수리정보부 교무실에 다시 제출하면 됩니다.</p>
        </div>

        <div class="container mx-auto mt-20">
            <p class="font-mono text-5xl font-black text-blue-500">2학년</p>
            <p class="font-mono text-2xl font-medium text-blue-400 mt-10">2021/03/16일까지 <a class="underline" href="http://naver.me/FxLcAeXo">네이버 폼</a>에 제출하시면 됩니다.</p>
            <p class="font-mono text-2xl font-medium text-red-400">소프트웨어 계열이 아닌 경우 수정반에 들어올 수 없으니 주의해주세요!</p>
        </div>
    </div>
</body>
</html>