<!DOCTYPE html>
<html>
<head>
    <title>수정반 팀원</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script type="text/javascript"></script>
</head>
<body>
    <div class="container mx-auto lg:px-20 xl:px-40">
        <div class="container mx-auto mt-20">
            <div class="grid grid-cols-3">
                <div class="col-span-2">
                    <a href="/dghsMathInfo">
                        <p class="font-mono text-7xl font-black text-blue-500">수리정보</p>
                        <p class="font-mono text-7xl font-light text-blue-500">영재반</p>
                    </a>
                </div>
                <div id="navigator" class="relative right-0">
                    <p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/dghsMathInfo"">홈</a></p>
                    <!--<p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/history"">역사</a></p>-->
                    <p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/recollection"">과거 활동</a></p>
                    <p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/howToEnroll"">수정반 가입</a></p>
                    <p class="font-mono text-xl font-light text-gray-400 text-right hover:text-gray-600"><a href="/promotion">홍보</a></p>
                </div>
            </div>
        </div>
        <div class="container mx-auto mt-20">
            <p class="font-mono text-7xl font-black text-blue-600">2학년</p>
            <div class="container mx-auto ml-3">
                <div class="container mx-auto mt-10">
                    <p class="font-mono text-5xl font-black text-blue-500">기장</p>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20827</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">조다니엘</p>
                    </div>
                </div>
                <div class="container mx-auto mt-20">
                    <p class="font-mono text-5xl font-black text-blue-500">부기장</p>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20825</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">임지수</p>
                    </div>
                </div>
                <div class="container mx-auto mt-20">
                    <p class="font-mono text-5xl font-black text-blue-500">부원</p>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20701</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">강주현</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20714</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">양주헌</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20803</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">강현서</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20804</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">길서연</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20818</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">백서영</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20822</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">이동건</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20908</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">김상환</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20913</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">류채현</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20920</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">양채연</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto mt-20">
            <p class="font-mono text-7xl font-black text-blue-600">1학년</p>
            <div class="container mx-auto ml-3">
                <!--
                <div class="container mx-auto mt-10">
                    <p class="font-mono text-5xl font-black text-blue-500">기장</p>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20827</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">조다니엘</p>
                    </div>
                </div>
                <div class="container mx-auto mt-20">
                    <p class="font-mono text-5xl font-black text-blue-500">부기장</p>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">20825</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">임지수</p>
                    </div>
                </div>-->
                <div class="container mx-auto mt-20">
                    <p class="font-mono text-5xl font-black text-blue-500">부원</p>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10201</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">길현민</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10223</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">임규린</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10301</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">권서영</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10312</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">안태형</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10408</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">김주현</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10501</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">강규민</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10507</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">남예원</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10516</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">이선영</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10523</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">조예희</p>
                    </div>
                    <div class="container mt-5">
                        <p class="font-mono text-xl font-light text-gray-400">10907</p>
                        <p class="font-mono text-3xl font-bold text-blue-400">김윤진</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>